.block
  %h1.block-heading What you need to know!

  .block-text
    %h3 How do I get to the ceremony?
    %p
      We’re getting married at
      = link_to 'The Lido Cafe', 'http://www.thelidocafe.co.uk/'
      which is easily accessed by public transport.
      For transport help, we recommend
      = link_to 'using Citymapper', 'https://citymapper.com/london'
      or
      = link_to 'checking tfl.', 'https://tfl.gov.uk/'

  .block-text
    %h3 What time is kick off?
    %p The ceremony begins at 4pm, so we’d love guests to begin arriving from 3.30pm so we’re ready to go.

  .block-text
    %h3 What should I wear?
    %p
      The dress code is
      = link_to '"lounge suit"', 'https://www.debretts.com/expertise/etiquette/dress-codes/lounge-suits/'
      \- but feel free to wear your kilt if you've got one!

  .block-text
    %h3 What should I get you?
    %p
      Your presence at the wedding is the greatest gift we could ask for, but if you’re thinking of getting us something to mark the start
      of our married life, we’ve registered at
      = link_to 'John Lewis.', 'https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp'
      Our list number is 740016; there is no password.

  .block-text
    %h3 When does it end?
    %p
      Because the venue is in a residential area, the venue is subject to noise restrictions and we will have to leave at 11.30pm.
      Expect Loch Lomond at about 11.25pm. We may continue the festivities in Brixton afterwards...


  .block-text
    %h3 Are children allowed?
    %p Unfortunately, due to the capacity of the venue we are unable to accommodate under 18s at the wedding.
